<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="adobereader" />
    <package id="ditto.install" />
    <package id="gimp" />
    <package id="googlechrome" />
    <package id="googledrive" />
    <package id="irfanview" />
    <package id="paint.net" />
    <package id="screenpresso" />
    <package id="spotify" />
    <package id="vlc" />
    <package id="windirstat"  />
</packages>
	
	
	                                  